html {
  scroll-behavior: smooth;
}
body {
  margin: 8px 2.5vw;
}
p {
  margin: 0;
}

/* HEADER */
header {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  width: 100%;
  grid-template-rows: 3vh 8vh 5vh;
  padding-bottom: 2vh;
  border-bottom: 1.2px solid black;
}
header div {
  display: flex;
  padding: 0 3%;
  align-items: center;
}
.headerLeftUp {
  justify-content: left;
}
.headerLeftUp p {
  padding: 0 1vw;
}
.headerLeftUp img {
  padding-top: 0.8vh;
  width: 15px;
  height: 15px;
}
.headerCenterUp {
  justify-content: center;
}
.headerCenterUp p {
  padding: 0 0.7vw;
  font-size: 65%;
}
.headerRightUp {
  justify-content: flex-end;
}
.headerRightUp button {
  margin: 0 0.5vw;
  height: 100%;
  background-color: rgb(93, 122, 146);
  color: white;
  border: none;
  border-radius: 5%;
  font-family: Arial, Helvetica, sans-serif;
}
.opinionSectionLeftFirst {
  break-inside: avoid;
}
.headerLeftDown {
  align-items: flex-end;
  justify-content: flex-start;
  font-size: 80%;
}
.headerCenterDown {
  justify-content: center;
  align-items: center;
}
.headerCenterDown img {
  height: 15vh;
}
.headerRightDown {
  align-items: flex-end;
  justify-content: flex-end;
  font-size: 80%;
}
.headerBottom {
  margin-top: 2vh;
  padding-top: 2vh;
  grid-column: 1 / -1;
  justify-content: space-around;
  border-top: 0.1px solid rgba(211, 211, 211, 0.562);
}
.headerBottom p{
  font-size: 80%;
  padding: 0.7vh;
}
/* TOPBAR */
.topBar {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  height: 12vh;
  border-bottom: 1.2px solid black;
}
.topBarSectionsContainer {
  display: flex;
  align-items: center;
  justify-content: left;
  width: 100%;
  height: 100%;
}
.topBarSections {
  display: flex;
  align-items: center;
  border-right: 0.1px solid rgba(128, 128, 128, 0.445);
  width: 100%;
  margin-right: 0.7em;
  height: 85%;
}
.topBar p {
  font-size: 80%;
}
.topBar img {
  width: 8vh;
  float: left;
  padding-right: 0.8em;
}
.topBarLeft div {
  display: block;
  align-items: center;
}
.topBarCenter div {
  display: block;
  align-items: center;
}
.topBarRight {
  padding-right: 1em;
}
.topBarRight div {
  display: block;
  align-items: center;
}
.stock {
  width: 100%;
  display: block;
  align-items: center;
}
.stock div {
  justify-content: space-between;
}
.stockDiv {
  display: flex;
  align-items: center;
  padding: 0.2em 0;
}
.middleStock {
  display: flex;
  align-items: center;
  border-top: 0.1px solid rgba(128, 128, 128, 0.445);
  border-bottom: 0.1px solid rgba(128, 128, 128, 0.445);
}
.stockWeather {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
}
.weatherContainer {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.weatherDesktop {
  display: block;
  align-items: center;
  border-left: 0.1px solid rgba(128, 128, 128, 0.445);
  width: 80%;
  height: 80%;
}
.weatherLogoPlusTemp {
  display: grid;
  align-items: center;
  grid-template-columns: 2fr 3fr;
  margin-top: 0.4em;
}
.weatherLogoPlusTemp .weatherLogo {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 1.4em;
}
.temp {
  display: block;
  line-height: 1.5;
}
.maxminTemp {
  display: flex;
  justify-content: center;
  font-size: 0.8em;
}
.bigTemp {
  font-size: 1em;
  text-align: center;
  font-weight: bold;
  line-height: 1;
  padding-top: 10%;
}
.minTemp {
  padding-left: 0.5em;
  color: grey;
}
.location {
  text-align: center;
}
/* NEWSBODY */
.newsBody {
  display: grid;
  grid-template-columns: 2fr 1fr;
  margin-top: 0.1em;
  border-top: 1.2px solid black;
}
.newsBodyLeft {
  border-right: 0.1px solid rgba(128, 128, 128, 0.445);
  margin-top: 1em;
}
.firstArticle {
  display: grid;
  grid-template-columns: 1fr 2fr;
  padding-bottom: 1em;
  border-bottom: 1.2px solid black;
  margin-right: 1em;
}
.firstArticleLeft {
  display: grid;
  grid-template-rows: 5fr 4fr;
  padding-right: 1em;
  border-right: 0.1px solid rgba(128, 128, 128, 0.445);
}
.firstArticleLeftUp {
  border-bottom: 0.1px solid rgba(128, 128, 128, 0.445);
}
.firstArticleLeftUpUl {
  padding-left: 0;
  margin: 0;
  line-height: 1.3;
  margin-bottom: 0.6em;
}
.firstArticleLeftUp h3 {
  margin: 0;
  margin-bottom: 0.4em;
  letter-spacing: 0.04em;
}
.live {
  color: rgb(199, 2, 2);
  font-weight: bold;
  margin-bottom: 1em;
  font-size: 0.8em;
}
.firstArticleLeftDown h3 {
  margin: 0.4em 0;
  font-size: 1em;
}
.firstArticleRight {
  padding-left: 1em;
}
.firstArticleRight img {
  width: 100%;
}
.firstArticleRight h3 {
  margin: 0;
  font-size: 1em;
  padding-bottom: 0.3em;
}
.articleTwoColumns {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 1em;
}
.articleTwoColumns h3 {
  margin: 0;
}
.littleGray {
  font-size: 0.8em;
}
.imgWithPaddingBottom {
  padding-bottom: 0.6em;
}
.secondArticle {
  margin-top: 1em;
}
/* OPINION */
.opinion {
  margin: 0;
}
.newsBodyRight {
  padding: 1em;
}
.firstOpinion {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  border-bottom: 0.1px solid rgba(128, 128, 128, 0.445);
  padding-bottom: 0.5em;
}
.firstOpinion img {
  width: 100%;
}
.firstOpinion h4 {
  margin: 0.5em 0;
}
.opinionSection {
  margin-top: 0.5em;
  column-count: 2;
  column-width: 50%;
  column-gap: 1;
  column-rule: 0.1px solid rgba(128, 128, 128, 0.445)
}
.opinionSectionLeft {
  padding-right: 1em;
}
.opinionSectionLeftFirst {
  border-bottom: 0.1px solid rgba(128, 128, 128, 0.445);
}
.opinionSectionLeftFirst h4 {
  margin: 0.5em 0;
}
.opinionSectionLeftFirst img {
  width: 20%;
  float: right;
}
.opinionSectionLeftFirst p {
  padding-bottom: 0.5em;
}
/* GENERAL RULES */
.bolder {
  font-weight: bolder;
}
.floatLeft {
  float: left;
}
.red {
  color: rgb(189, 55, 55);
}
.gray {
  color: rgb(100, 100, 100);
}
.lightGray {
  color: rgb(156, 154, 154)
}
/* PHONE RESPONSIVE */
.weatherPhone {
  display: none;
}

@media all and (max-width: 1149px) {
  /* TOPBAR */
  .topBar {
    display: grid;
    grid-template-columns: 3fr 3fr 3fr 2fr;
    height: 12vh;
    border-bottom: 1.2px solid black;
  }
  .stockWeather {
    display: none;
  }
  .weatherPhoneContainer {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .weatherPhone {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    align-items: center;
    justify-content: space-around;  
  }
  .weatherEmoji {
    text-align: center;
    font-size: 1.8em;
  }
  .temp {
    margin-bottom: -.7vh;
  }
  .temp p {
    display: inline;
  }
  .temp .currentTemp {
    font-size: 1em;
  }
  .maxmin {
    display: inline;
    font-size: .8em;
  }
  .location {
    text-align: left;
    font-size: .8em;
  }
  /* NEWSBODY */
  .newsBody {
    grid-template-columns: 9fr 2fr;
  }
  .firstOpinion {
    display: block;
  }
  .opinionSection {
    column-count: 1;
    column-width: 50%;
    column-gap: 1;
    column-rule: 0.1px solid rgba(128, 128, 128, 0.445)
  }
  .newsBodyLeft {
    margin-right: 0.7em;
  }
  .newsBodyRight {
    padding-left: 0;
  }
}